Raspberry/flows.json
[
    {
        "id": "41928a00327b1e4f",
        "type": "tab",
        "label": "Flux 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a2f76f41fe81e556",
        "type": "function",
        "z": "41928a00327b1e4f",
        "name": "INSERT_DATA1",
        "func": "var jsonContent = msg.payload;\nvar requete; \nif (jsonContent && jsonContent.ip && jsonContent.mac) {\n    // Adresse IP\n    var ipAddress = jsonContent.ip;\n\n    // Adresse MAC\n    var macAddress = jsonContent.mac;\n\n    requete = `\n        DELETE FROM AP WHERE TIMESTAMPDIFF(SECOND, time, CURRENT_TIMESTAMP()) > 7; \n         \n        VALUES (\n    '${ipAddress}',\n    '${macAddress}', CURRENT_TIME() );\n    `;\n\n    msg.topic = requete;\n    \n\n    return msg;\n} \n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 60,
        "wires": [
            [
                "8ac0a9818941243e"
            ]
        ]
    },
    {
        "id": "0078edc67eeca1b7",
        "type": "mqtt in",
        "z": "41928a00327b1e4f",
        "name": "donnees",
        "topic": "donnees",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bd2487a4522bea03",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 60,
        "wires": [
            [
                "a2f76f41fe81e556"
            ]
        ]
    },
    {
        "id": "72e50fa61eadbb68",
        "type": "mysql",
        "z": "41928a00327b1e4f",
        "mydb": "aef57e51c03bad77",
        "name": "TD11",
        "x": 630,
        "y": 120,
        "wires": [
            [
                "10e16176b6f05e2a",
                "0a9a7e56e9cb4804"
            ]
        ]
    },
    {
        "id": "10e16176b6f05e2a",
        "type": "debug",
        "z": "41928a00327b1e4f",
        "name": "msg.payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "01dd144c7c146a7b",
        "type": "function",
        "z": "41928a00327b1e4f",
        "name": "SELECT_TOPIC",
        "func": "var requete; \n\nrequete = `\nSELECT DISTINCT IP_address AS IP, MAC_address AS MAC  FROM AP;\n`\n\n\nmsg.topic = requete;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 120,
        "wires": [
            [
                "72e50fa61eadbb68"
            ]
        ]
    },
    {
        "id": "0a9a7e56e9cb4804",
        "type": "ui_template",
        "z": "41928a00327b1e4f",
        "group": "10819c65c34f8984",
        "name": "",
        "order": 1,
        "width": 8,
        "height": 8,
        "format": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Adresses IP et MAC</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            margin: 20px;\n        }\n\n        table {\n            width: 100%;\n            border-collapse: collapse;\n            margin-top: 20px;\n        }\n\n        th, td {\n            border: 1px solid #ddd;\n            padding: 12px;\n            text-align: left;\n        }\n\n        th {\n            background-color: #f2f2f2;\n        }\n    </style>\n</head>\n<body>\n    \n<table>\n    <thead>\n        <tr>\n            <th>Adresse IP</th>\n            <th>Adresse MAC</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr ng-repeat=\"entry in msg.payload\">\n            <td>{{ entry.IP }}</td>\n            <td>{{ entry.MAC }}</td>\n        </tr>\n    </tbody>\n</table>\n\n</body>\n</html>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "413047e4cab22973",
        "type": "inject",
        "z": "41928a00327b1e4f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "payload1",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "7",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "01dd144c7c146a7b"
            ]
        ]
    },
    {
        "id": "8ac0a9818941243e",
        "type": "mysql",
        "z": "41928a00327b1e4f",
        "mydb": "aef57e51c03bad77",
        "name": "TD11",
        "x": 630,
        "y": 60,
        "wires": [
            [
                "8fe8b154f39263e5"
            ]
        ]
    },
    {
        "id": "8fe8b154f39263e5",
        "type": "debug",
        "z": "41928a00327b1e4f",
        "name": "msg.payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 60,
        "wires": []
    },
    {
        "id": "993396264667196d",
        "type": "ui_text",
        "z": "41928a00327b1e4f",
        "group": "9ee4fe467efbdbd4",
        "order": 9,
        "width": 3,
        "height": 1,
        "name": "lastIP",
        "label": "",
        "format": "{{msg.lastIP}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 520,
        "wires": []
    },
    {
        "id": "86d75fdb408420fd",
        "type": "ui_text",
        "z": "41928a00327b1e4f",
        "group": "9ee4fe467efbdbd4",
        "order": 11,
        "width": 3,
        "height": 1,
        "name": "charge",
        "label": "",
        "format": "{{msg.charge}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 600,
        "wires": []
    },
    {
        "id": "b1c478788843869f",
        "type": "function",
        "z": "41928a00327b1e4f",
        "name": "Parser",
        "func": "var jsonContent = msg.payload;\n\nmsg.lastIP = jsonContent.IP;\nmsg.charge = jsonContent.charge;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 500,
        "wires": [
            [
                "993396264667196d",
                "86d75fdb408420fd"
            ]
        ]
    },
    {
        "id": "0c81fd167066b3fc",
        "type": "mqtt in",
        "z": "41928a00327b1e4f",
        "name": "serveur1/charge",
        "topic": "serveur1/charge",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bd2487a4522bea03",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 500,
        "wires": [
            [
                "b1c478788843869f"
            ]
        ]
    },
    {
        "id": "8451ab70d09715b8",
        "type": "ui_text",
        "z": "41928a00327b1e4f",
        "group": "9ee4fe467efbdbd4",
        "order": 8,
        "width": 5,
        "height": 1,
        "name": "Dernier Client",
        "label": "Dernier Client : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 840,
        "y": 480,
        "wires": []
    },
    {
        "id": "226907f734f8aeb4",
        "type": "ui_text",
        "z": "41928a00327b1e4f",
        "group": "9ee4fe467efbdbd4",
        "order": 10,
        "width": 5,
        "height": 1,
        "name": "Charge Actual",
        "label": "Charge Actual (1min): ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 840,
        "y": 560,
        "wires": []
    },
    {
        "id": "0073377a01659d44",
        "type": "ui_text",
        "z": "41928a00327b1e4f",
        "group": "9ee4fe467efbdbd4",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "Local IP ",
        "label": "Local IP : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 860,
        "y": 220,
        "wires": []
    },
    {
        "id": "d7344b179a754429",
        "type": "ui_text",
        "z": "41928a00327b1e4f",
        "group": "9ee4fe467efbdbd4",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "localIP",
        "label": "",
        "format": "{{msg.localIP}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 260,
        "wires": []
    },
    {
        "id": "71ad91967079ec9a",
        "type": "function",
        "z": "41928a00327b1e4f",
        "name": "Parser",
        "func": "var jsonContent = msg.payload;\n\nmsg.localIP = jsonContent.IP;\nmsg.charge2 = jsonContent.charge;\nmsg.MF = jsonContent.MemoireFree; \nmsg.MT = jsonContent.MemoireTotal; \nmsg.MU = jsonContent.MemoireUtilise; \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 220,
        "wires": [
            [
                "d7344b179a754429",
                "0aff2f527e8840a8",
                "f3e2c12f3ab6a2db",
                "4084404d4ff7c975"
            ]
        ]
    },
    {
        "id": "c728559cf1866d5c",
        "type": "mqtt in",
        "z": "41928a00327b1e4f",
        "name": "serveur1/trame",
        "topic": "serveur1/trame",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bd2487a4522bea03",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 220,
        "wires": [
            [
                "71ad91967079ec9a"
            ]
        ]
    },
    {
        "id": "ae71cc42dee87784",
        "type": "ui_gauge",
        "z": "41928a00327b1e4f",
        "name": "",
        "group": "9ee4fe467efbdbd4",
        "order": 5,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Memoire libre",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "294604",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 380,
        "wires": []
    },
    {
        "id": "0aff2f527e8840a8",
        "type": "function",
        "z": "41928a00327b1e4f",
        "name": "function 18",
        "func": "\nmsg.payload = parseInt(msg.MF);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 380,
        "wires": [
            [
                "ae71cc42dee87784"
            ]
        ]
    },
    {
        "id": "55bf6fbd70783c3f",
        "type": "ui_gauge",
        "z": "41928a00327b1e4f",
        "name": "",
        "group": "9ee4fe467efbdbd4",
        "order": 6,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Memoire Utilisé",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "37",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 420,
        "wires": []
    },
    {
        "id": "f3e2c12f3ab6a2db",
        "type": "function",
        "z": "41928a00327b1e4f",
        "name": "function 19",
        "func": "\nmsg.payload = parseInt(msg.MU);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 420,
        "wires": [
            [
                "55bf6fbd70783c3f"
            ]
        ]
    },
    {
        "id": "e6a2ae83cef721e4",
        "type": "ui_text",
        "z": "41928a00327b1e4f",
        "group": "b0baa34e0c93449d",
        "order": 9,
        "width": 3,
        "height": 1,
        "name": "lastIP",
        "label": "",
        "format": "{{msg.lastIP}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 920,
        "wires": []
    },
    {
        "id": "197e787338bd400e",
        "type": "ui_text",
        "z": "41928a00327b1e4f",
        "group": "b0baa34e0c93449d",
        "order": 11,
        "width": 3,
        "height": 1,
        "name": "charge",
        "label": "",
        "format": "{{msg.charge}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 1020,
        "wires": []
    },
    {
        "id": "8e59bec28c814f2c",
        "type": "function",
        "z": "41928a00327b1e4f",
        "name": "Parser",
        "func": "var jsonContent = msg.payload;\n\nmsg.lastIP = jsonContent.IP;\nmsg.charge = jsonContent.charge;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 920,
        "wires": [
            [
                "e6a2ae83cef721e4",
                "197e787338bd400e"
            ]
        ]
    },
    {
        "id": "7c808ca42fa07279",
        "type": "mqtt in",
        "z": "41928a00327b1e4f",
        "name": "serveur2/charge",
        "topic": "serveur2/charge",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bd2487a4522bea03",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 860,
        "wires": [
            [
                "8e59bec28c814f2c"
            ]
        ]
    },
    {
        "id": "d9527024d2193ea8",
        "type": "ui_text",
        "z": "41928a00327b1e4f",
        "group": "b0baa34e0c93449d",
        "order": 8,
        "width": 5,
        "height": 1,
        "name": "Dernier Client",
        "label": "Dernier Client : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 840,
        "y": 680,
        "wires": []
    },
    {
        "id": "a10728c571f97630",
        "type": "ui_text",
        "z": "41928a00327b1e4f",
        "group": "b0baa34e0c93449d",
        "order": 10,
        "width": 5,
        "height": 1,
        "name": "Charge Actual",
        "label": "Charge Actual : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 840,
        "y": 960,
        "wires": []
    },
    {
        "id": "9541eb80f5020bd3",
        "type": "ui_text",
        "z": "41928a00327b1e4f",
        "group": "b0baa34e0c93449d",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "Local IP ",
        "label": "Local IP : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 860,
        "y": 640,
        "wires": []
    },
    {
        "id": "7320a917c3343e2a",
        "type": "ui_text",
        "z": "41928a00327b1e4f",
        "group": "b0baa34e0c93449d",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "localIP",
        "label": "",
        "format": "{{msg.localIP}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 720,
        "wires": []
    },
    {
        "id": "03551c59387dff0c",
        "type": "function",
        "z": "41928a00327b1e4f",
        "name": "Parser",
        "func": "var jsonContent = msg.payload;\n\nmsg.localIP = jsonContent.IP;\nmsg.charge2 = jsonContent.charge;\nmsg.MF = jsonContent.MemoireFree; \nmsg.MT = jsonContent.MemoireTotal; \nmsg.MU = jsonContent.MemoireUtilise; \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 680,
        "wires": [
            [
                "7320a917c3343e2a",
                "2319aa4832c1a944",
                "386c9415adf65696",
                "4f0be10df788d7fc"
            ]
        ]
    },
    {
        "id": "dafadd5bb35471dc",
        "type": "mqtt in",
        "z": "41928a00327b1e4f",
        "name": "serveur2/trame",
        "topic": "serveur2/trame",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bd2487a4522bea03",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 680,
        "wires": [
            [
                "03551c59387dff0c"
            ]
        ]
    },
    {
        "id": "ee6bf3e4d3939459",
        "type": "ui_gauge",
        "z": "41928a00327b1e4f",
        "name": "",
        "group": "b0baa34e0c93449d",
        "order": 5,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Memoire libre",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "294604",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 840,
        "wires": []
    },
    {
        "id": "2319aa4832c1a944",
        "type": "function",
        "z": "41928a00327b1e4f",
        "name": "function 20",
        "func": "\nmsg.payload = parseInt(msg.MF);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 840,
        "wires": [
            [
                "ee6bf3e4d3939459"
            ]
        ]
    },
    {
        "id": "b0a047bccee9e5a5",
        "type": "ui_gauge",
        "z": "41928a00327b1e4f",
        "name": "",
        "group": "b0baa34e0c93449d",
        "order": 6,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Memoire Utilisé",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "37",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 880,
        "wires": []
    },
    {
        "id": "386c9415adf65696",
        "type": "function",
        "z": "41928a00327b1e4f",
        "name": "function 21",
        "func": "\nmsg.payload = parseInt(msg.MU);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 880,
        "wires": [
            [
                "b0a047bccee9e5a5"
            ]
        ]
    },
    {
        "id": "4f0be10df788d7fc",
        "type": "ui_text",
        "z": "41928a00327b1e4f",
        "group": "b0baa34e0c93449d",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "charge2",
        "label": "",
        "format": "{{msg.charge2}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 860,
        "y": 800,
        "wires": []
    },
    {
        "id": "bfea50f57feaee71",
        "type": "ui_text",
        "z": "41928a00327b1e4f",
        "group": "b0baa34e0c93449d",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "Charge Actual 2",
        "label": "Charge (24h) : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 840,
        "y": 760,
        "wires": []
    },
    {
        "id": "baa4ab37f51e013a",
        "type": "ui_text",
        "z": "41928a00327b1e4f",
        "group": "9ee4fe467efbdbd4",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "Charge Actual 2",
        "label": "Charge (24h) : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 840,
        "y": 300,
        "wires": []
    },
    {
        "id": "4084404d4ff7c975",
        "type": "ui_text",
        "z": "41928a00327b1e4f",
        "group": "9ee4fe467efbdbd4",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "charge2",
        "label": "",
        "format": "{{msg.charge2}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "bd2487a4522bea03",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "aef57e51c03bad77",
        "type": "MySQLdatabase",
        "name": "mariadb",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "TD11",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "10819c65c34f8984",
        "type": "ui_group",
        "name": "AP",
        "tab": "ddf64d9e5f5602b1",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "9ee4fe467efbdbd4",
        "type": "ui_group",
        "name": "Serveur 1",
        "tab": "ddf64d9e5f5602b1",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b0baa34e0c93449d",
        "type": "ui_group",
        "name": "Serveur 2",
        "tab": "ddf64d9e5f5602b1",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ddf64d9e5f5602b1",
        "type": "ui_tab",
        "name": "TD11",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]